.customspline {
  position: relative;
}

.spline {
  position: absolute !important;
  margin: 0;
  top: -2rem;
  right: 5rem;
  @media (max-width: 768px) {
    right: 2.5rem !important;
  }
}

.spline > canvas {
  @media (max-width: 768px) {
    width: 100px !important;
    height: 100px !important;
  }
}
