.customsplinecup {
  position: relative !important;
  width: 100px !important;
  visibility: hidden !important;
}

.customsplinecam {
  position: relative !important;
  height: 10px !important;
  visibility: hidden !important;
}

.splinecup {
  position: absolute !important;
  margin: 0 !important;
  right: 40% !important;
}

.splinecup > canvas {
  visibility: visible !important;
  width: 150px !important;
  height: 150px !important;
}

.splinecam {
  width: 0% !important;
  position: absolute !important;
  margin: 0 !important;
  top: -1100% !important;
  right: 30% !important;
}

.splinecam > canvas {
  visibility: visible !important;
  width: 160px !important;
  height: 140px !important;
}

.layout {
  height: 100vh !important;
}

@media only screen and (max-width: 1024px) {
  .splinecup {
    right: 25% !important;
  }

  .splinecup > canvas {
    width: 130px !important;
    height: 130px !important;
  }

  .splinecam {
    top: -1000% !important;
    right: 35% !important;
  }

  .splinecam > canvas {
    width: 160px !important;
    height: 140px !important;
  }
}

@media only screen and (max-width: 820px) {
  .splinecup {
    right: 20% !important;
  }

  .splinecup > canvas {
    width: 110px !important;
    height: 110px !important;
  }

  .splinecam {
    top: -1000% !important;
    right: 32% !important;
  }

  .splinecam > canvas {
    width: 110px !important;
    height: 100px !important;
  }
}

@media only screen and (max-width: 430px) {
  .splinecup {
    right: 5% !important;
  }

  .splinecam {
    right: 25% !important;
  }

  .splinecup > canvas {
    width: 100px !important;
    height: 100px !important;
  }

  .splinecam > canvas {
    width: 110px !important;
    height: 90px !important;
  }
}

@media only screen and (max-width: 380px) {
  .layout {
    height: 112vh !important;
  }
}

@media only screen and (max-width: 760px) and (max-height: 660px) {
  .layout {
    height: 115vh !important;
  }
}

